<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap-reboot.min.css"> -->
    <title><%=title%></title>

    <%- style %>
</head>

<body>
<!-- Blank layout -->
    <%- body %>
    <%- script %>
</body>

</html>
