<h1 class="text-center bg-warning text-capitalize">
    Users home
</h1>

<a href="/users/sign-in" class="btn btn-primary center-block ml-5">
    Sign In
</a>
<br><br>
<a href="/users/sign-up" class="btn btn-primary ml-5">
    Sign Up
</a>