<h1 class="text-center bg-warning text-capitalize">
    Users home
</h1>

<a href="/users/profile" class="btn btn-success center-block ml-5">
    Profile
</a>
<br><br>
<a href="/users/sign-in" class="btn btn-info center-block ml-5">
    Sign In
</a>
<br><br>
<a href="/users/sign-up" class="btn btn-danger ml-5">
    Sign Up
</a>