<h1 class="text-capitalize text-center bg-warning">
    User Profile
</h1>

<!-- User Details -->
<div class="container">
    <h2 class="bg-info">Name : <%=user.name%></h2>
    <h2 class="bg-info">Email : <%=user.email%></h2>
</div>

<div class="container">
    <br>
    <button type="button" class="btn btn-warning center-block">
        Sign Out
    </button>
</div>
