<h1 class="text-capitalize text-center bg-warning">
    User Profile
</h1>

<!-- User Details -->
<div class="container">
    <h2 class="bg-info">Name : <%=user.name%></h2>
    <h2 class="bg-info">Email : <%=user.email%></h2>
    <br>
    <a href="/users/sign-out" class="btn btn-warning mx-auto" style="margin-left:38%">
        Sign Out
    </a>
</div>
